.modal-content-container{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.5);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    overflow: hidden;
    display: none;
}

.modal-content-container h2, .modal-content-container p, .modal-content-container small{
    color: white;
    max-width: 980px;
}

.modal-content-container h2{
    font-weight: 400;
    font-size: 3.6rem;
}

.modal-content-container p{
    font-weight: 100;
    font-size: 1.6rem;
    opacity: .7;
}

.modal-content-container small{
    text-decoration: underline;


}

.modal-description-container{
    background: #050505;
    display: inherit;
    flex-direction: column;
    width: 50%;
    height: 80%;
    justify-content: center;
    text-align: center;
    padding: 0 30px;
}

.modal-content{
    width: 50%;
    height: 80%;      
}

.modal-content img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}